@font-face {
    font-family: 'instrument-sans';
    src: url("assets/fonts/instrument-sans/InstrumentSans-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}

.header-nav-button {
    background-color: transparent;
    border: transparent;
    padding: 14px 28px;
    font-size: 16px;
    font-family: 'instrument-sans', serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}